/*============== Categories Section lah ============== */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.category-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-color: white;
  background-color: transparent;
  color: white;
  border: 1px solid;
  border-radius: 15px;
  text-decoration: none;
}

.category-btn:hover {
  background-color: #7a1d9c;
}

/* ================ Gallery Section ============== */

.gallery-page {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4, minmax(250px, 1fr)); */
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.gallery-page-item {
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
}

.gallery-page-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-page-item:hover {
  transform: scale(1.05);
}

/* ============ Create and Share Page ==================== */
.upload {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.upload p {
  font-family: "David Libre", sans-serif;
  font-weight: bold;
  text-align: center;
}
.upload-content img {
  display: flex;
  align-content: center;
  justify-content: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px auto;
  max-width: 600px;
  padding: 0 20px;
}

.upload-attribute {
  margin-bottom: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  background-color: #777;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  color: white;
  font-family: "David Libre", serif;
}

.form-group label {
  color: white;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-group input {
  background-color: #777;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  color: white;
}

.form-group input::placeholder {
  color: #ddd;
}

/* ================ responsive nya ============ */

@media (max-width: 920px) {
  .gallery-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 585px) {
  .gallery-page {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 535px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
  .category-btn {
    width: 100%;
    text-align: center;
  }
}
